<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>

	   html { height: 80% }
body { height: 80%; margin: 10px; padding: 10px }
#heading{position: fixed; right: 505px; color: blue;}
#container { width: 100%; height: 100% }
#nav { z-index: 100; position: absolute;

       padding: 5px;
position:fixed;
  top: 0;
  left:0;
  width:<fixed px>;
  height:<fixed px>;  }
#map { top: 70px;
        height: 700px;
        width: 100%;}
body {
}
h3 {
    text-align: center;
}

    </style>
      {% load static %}
  </head>
  <body>
  <div id="container">


    <div id="nav">

    <div id="heading">
        <h1 color = "Blue">Twitt Map</h1></div>

	    <form id="listform" method="POST">{% csrf_token %}
        <select name="ddlSearchWords" class="form-control" id="ddlSearchWords">
            <option value="Health" selected>Health</option>
            <option value="Explore and Travel">Explore and Travel</option>
            <option value="Religion">Religion</option>
            <option value="Food and Drink">Food and Drink</option>
            <option value="Leisure">Leisure</option>
            <option value="Election">Elections</option>
            <option value="Sports">Sports</option>
            <option value="Science">Science</option>
            <option value="World">Peace</option>
            <option value="Brands and Following">Brands and Following</option>
        </select>
		<br>

		<div style="position:absolute;vertical-align:middle;text-align:center; top: 50px;">
        <button type="submit"  class="btn btn-primary" style="width:190px" onsubmit="initMap()">Click Here</button>
		</div>
        </form>

    </div>
	
    <div id="map">
	</div>
	
	</div>
    <script>
	function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
        function initMap() {
            var uluru = {lat: 20, lng: -30};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: uluru
            });

            {#---Ajax---#}

            $('#listform').on('submit', function (event) {
                event.preventDefault();
                var selectedword = document.getElementById("ddlSearchWords");
            searchKeyword = selectedword.options[selectedword.selectedIndex].value;
            console.log(searchKeyword);
                $.ajax({
                    url: '/post/',
                    type: 'POST',
                    data: {Search: searchKeyword, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()},

                    success: function (json) {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 3,
                            center: uluru
                        });

                        console.log(json);
                        console.log(json.length);
                        console.log(json.coordinates)
                        for(i=0; i<json.length.hits; i++){
                            console.log(json.coordinates[i].lat);
                            console.log(json.coordinates[i].lng);
                            var myLatlng = new google.maps.LatLng(parseFloat(json.coordinates[i].lat),parseFloat(json.coordinates[i].lng));
                            console.log(myLatlng);

                            var marker = new google.maps.Marker({
                                map: map,
                                position: myLatlng

                            })
                        }

                    }
                });
            });
        }
    </script>
    <script async defer
    src="">
    </script>
  </body>
</html>